<html>
  <head>
    <!-- <link rel="stylesheet" href="employee.component.css"> -->
  </head>
  <body>
      <div class="col-md-6">
      <h2> User Details</h2>
      <table class="table table-striped">        
          <tr *ngFor="let employee of employees">   
          <div class="wrapper">
              <h1 class="hidden">Parallax Flipping Cards</h1> 
              
              <div class="cols">
                  
                  <div class="col" ontouchstart="this.classList.toggle('hover');">
                    <div class="container">
                        <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
                          <div class="inner">
                              <td class="hidden"></td> 
                              <td>{{employee.associateFirstName}}</td>
                              <td>{{employee.associateLastName}}</td>
                            <span>{{employee.associateFirstName}} {{employee.associateLastName}}</span>
                          </div>
                        </div>
                        <div class="back">
                            <div class="inner">                
                                  <td class="hidden"></td> 
                                  <td> {{employee.associateFirstName}}</td><br/>
                                  <td> {{employee.associateLastName}}</td><br/>                   
                                  <td>{{employee.emailId}}</td><br/>
                                  <td>{{employee.mobileNumber}}</td><br/>
                                  <td><button class="btn btn-danger" (click)="deleteUser(employee)"> Delete Employee</button></td>
                              </div>
                          </div>
                        
                        
                      
                    </div>
                  </div>
                
              </div>
            
          </div>
        </tr>

      </table>
        

      </div>
 
</body>
</html>




  